<form (ngSubmit)="onSubmit()">
<div>
    INITIAL INVESTMENT : <input type="number" id="initialInvestment" name="initialInvestment" [(ngModel)]="enteredInitialInvestment" />
    ANNUAL INVESTMENT : <input type="number" id="annualInvestment" name="annualInvestment" [(ngModel)]="enteredAnnualInvestment" />
  </div>
  <div>
    EXPECTED RETURN : <input type="number" id="expectedReturn" name="expectedReturn" [(ngModel)]="enteredExpectedReturn">
    DURATION : <input type="number" id="duration" name="duration" [(ngModel)]="enteredDuration">
  </div>
  <br/>
  <button type="submit">CALCULATE</button>
</form>
