<form [formGroup]="userInputForm" (ngSubmit)="onSubmit()">
  <div>
    INITIAL INVESTMENT : <input type="text" id="initialInvestment" formControlName="initialInvestment"/>
    ANNUAL INVESTMENT : <input type="number" id="annualInvestment" formControlName="annualInvestment"/>
  </div>
  <div>
    EXPECTED RETURN : <input type="number" id="expectedReturn" formControlName="expectedReturn"/>
    DURATION : <input type="number" id="duration" formControlName="duration"/>
  </div>
  <br/>
  <button type="submit" [disabled]="!userInputForm.valid">CALCULATE</button>
</form>
